/* src/styles.css */
body {
    background-color: #aaaaaa;
  }
  
  .navbar {
    background-color: #000000 !important; /* Negro */
  }
  
  .navbar-brand, .nav-link, .fa-shopping-cart {
    color: #ffffff !important; /* Blanco */
  }
  
  .nav-link:hover {
    background-color: rgba(128, 128, 128, 0.8); /* Gris con transparencia */
    border-radius: 5px; /* Opcional: añadir esquinas redondeadas */
  }
  
  h3 {
    color: #000000;
    text-align: center;
    padding-top: 40px; /* Más padding arriba */
    padding-bottom: 20px; /* Más padding abajo */
  }
  
  .card {
    border: none; /* Eliminar bordes */
    margin: 20px; /* Márgenes alrededor de las tarjetas */
    padding-top: 40px; /* Margen superior dentro de la tarjeta */
    
  }
  
  .card-title {
    color: #343a40;
    text-align: center;
  }
  
  .card-text {
    color: #495057;
  }
  
  .btn-primary {
    background-color: #005fc4;
    border: none;
  }
  
  .btn-success {
    background-color: #28a745;
    border: none;
  }
  
  .btn-danger {
    background-color: #dc3545;
    border: none;
  }
  
  .category-title {
    text-align: center;
    color: #000000;
    margin-top: 40px; /* Más margen superior */
  }
  
  .card-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
  }
  
  .card-img-top {
    width: 100%;
    height: auto;
    max-height: 200px; /* Limitar la altura máxima para ocupe menos espacio */
    object-fit: contain; /* Deja espacio a los costados, arriba y abajo */
  }
  
  .cart-count {
    color: #979797; /* Gris más claro para el contador del carrito */
  }
  